@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

html,
body {
  scroll-behavior: smooth !important;
  background-color: var(--background); /* Pastikan ini terpanggil */
  color: var(--foreground);
}

:target {
  scroll-margin-top: 5rem;
}

body {
  /* Hapus background: var(--background) di sini jika sudah ada di html, body */
  font-family: Arial, Helvetica, sans-serif;
}
